{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la salle</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.capacity) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('salle_index') }}" class="btn btn-secondary mt-3">Retour à la liste des salles</a>
{% endblock %}